{% extends 'complaints/base.html' %}

{% block navbar %}

<li><a href="{% url 'previous-requests' %}">My Complaints</a></li>
<li class="active"><a href="{% url 'complaint-register' %}">Register Complaints</a></li>
<li><a href="{% url 'unblock-request' %}">URL Unblock Request</a></li>
<li><a href="/contact">Contact Us</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
   <li><a>User: {{user.username}}</a></li>
   <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
</ul>
</div>
</div>
</nav>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
		<div id="myModal" class="modal" style="display:block;">
		{% if not messages %}
		  <center>
		  <div class="modal-content">
			<span class="close">&times;</span>
			<h4><b>Attention !</b></h4><p>Please read the troubleshooting steps mentioned <a href="/static/steps.pdf"><b><u>Here</u></b></a> before registering your complaint.</p>
		  </div>
		  </center>
		{%endif%}

		</div>
         <form class="form-horizontal" action="{% url 'complaint-register' %}" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
               <legend class="text-center">Complaint Details</legend>
               {%endblock%}
               {% block content %}
               <div class="form-group">
                  <center>
                     <select id="option" name="category" class="form-control form-control-sm" a="true"
                        style="width:200px;">
                        <option value="none">Choose a Category</option>
                        <option value="LN">Lan</option>
                        <option value="SF">Sophos Firewall</option>
                     </select>
                  </center>
               </div>
               <div id="other3" style="display:none;">
                  <div class="form-group">
                     <label class="col-md-3 control-label" for="message">Complaint Details</label>
                     <div class="col-md-9">
                        <textarea class="form-control" a="true" id="message" name="remark"
                           placeholder="Please enter your message here..." rows="5" required></textarea>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-md-3 control-label" for="message">-</label>
                     <div class="col-md-9">
                        <label for="default" class="btn btn-default" onclick="urg_fun()" style="position:relative;">
                           <b>Urgency</b><input name="urgency" type="checkbox" id="default" class="badgebox"><span
                              class="badge">&check;</span>
                        </label>
                     </div>
                  </div>
                  <div class="form-group" id="urg_reason" style="display:none;">
                     <label class="col-md-3 control-label" for="name">Urgency Reason</label>
                     <div class="col-md-9">
                        <input id="urgency_reason" name="urgency_reason" type="text" placeholder=""
                           class="form-control">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label" for="name">Hostel</label>
                     <div class="col-md-9">
						<div class="dropdown">
						  <button class="btn dropdown-toggle" type="button" id="dd_button" style="background:white;border-color:#ccc" data-toggle="dropdown">-
						  <span class="caret"></span></button>
						  <ul id="bhavan_list" class="dropdown-menu" style="max-height:100px;overflow-y:scroll;">
							<li id="0"><a>Krishna Bhavan</a></li>
							<li id="1"><a>Ram Bhavan</a></li>
							<li id="2"><a>Shankar Bhavan</a></li>
							<li id="3"><a>Gandhi Bhavan</a></li>
							<li id="4"><a>Budh Bhavan</a></li>
							<li id="5"><a>Vyas Bhavan</a></li>
							<li id="6"><a>Gautam Bhavan</a></li>
							<li id="7"><a>Valmiki Bhavan</a></li>
							<li id="8"><a>Meera Bhavan</a></li>
							<li id="9"><a>Malaviya Bhavan</a></li>
							<li id="10"><a>Vishwakarma Bhavan(Boys)</a></li>
							<li id="11"><a>Vishwakarma Bhavan(Girls)</a></li>
							<li id="12"><a>MRS Tower</a></li>
							<li id="13"><a>H8 Block</a></li>
						  </ul>
						</div>
						<input type="hidden" name="bhavan" id="bhavan" value="">                
					</div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label" for="name">Room number</label>
                     <div class="col-md-9">
                        <input id="room_no" name="room_no" type="number" placeholder="" class="form-control" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label" for="name">Availability</label>
                     <div class="col-md-9" style="">
                        <input type="date" id="date" name="avail_date" onchange="timerecord1();timerecord2();" required>&nbsp;&nbsp;
                        <script>date.min = new Date().toISOString().split("T")[0]; dt = new Date(); dt.setDate(dt.getDate() + 7); date.max = dt.toISOString().split("T")[0];</script>
                        <br><br><input type="time" id="time" onchange="timerecord1()" value="15:00:00" required>
                        <div id="time3" style="display:inline;">&nbsp;&nbsp;to&nbsp;&nbsp;</div>
                        <input type="time" id="time2" onchange="timerecord2()" value="17:00:00" required>
                        <p style="display:none;color:red;" id="time_alert_x"><br>Please Enter a valid time interval between 9:00 and 17:00</p>
						<p style="display:none;" id="time_alert"><br>The difference between times must be at least 1
                           hour</p>
						<p style="display:none;" id="g_msg"><br>*<b>Technicians are allowed into girls hostels between 12:00-1:30pm and 4:30-5:00pm only</b></p>
						<div id="slots" style="display:none;"><input type="radio" name="tg" id="slot_1" onclick="timeslot_fun()" /> 12:00pm to 1:30pm<br>
						<input type="radio" id="slot_2" name="tg" onclick="timeslot_fun()" /> 4:30pm to 5:00pm</div>
						<br><br><p>(Staff available on working days only, between 9:00AM to 5:00PM)</p>
                        <input type="hidden" id="hiddentime" name="avail_start_time" value="16:00:00">
                        <input type="hidden" id="hiddentime2" name="avail_end_time" value="18:00:00">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label">Contact no.</label>
                     <div class="col-md-9">
                        <input id="contact_no" name="contact_no" type="text" placeholder="" class="form-control"
                           required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-3 control-label">Image/Screenshot (optional)</label>
                     <div class="col-md-9">
                       <input type="file" name="image" id="file" accept="image/*" style="position:relative;top:10px;display:inline-block;">
					   </div>
                  </div>
				  <div class="form-group">
                     <label class="col-md-3 control-label"></label>
                     <div class="col-md-9">
					 <span class="close2" onclick="$('#file').val('');"><u>Clear image file &#10006;</u></span>
					   </div>
                  </div>
				  <div class="form-group">
                     <label class="col-md-3 control-label"></label>
                     <div class="col-md-9">
						<a href="/static/steps.pdf" target="_blank"><u>General troubleshooting guidelines</u></a>
					   </div>
                  </div>
				  
                  <div class="form-group">
                     <div class="text-center">
                        <button id="b1" type="submit" class="btn btn-primary"
                           style="background:#444444;border-color:black;">Submit</button>
                     </div>
                  </div>
               </div>
         </form>

      </div>
   </div>
</div>

{% endblock %}
