{% extends 'complaints/base.html' %}
{% block navbar %}
<li class="active"><a href="{% url 'previous-requests' %}">My Complaints</a></li>
<li class=""><a href="{% url 'complaint-register' %}">Register Complaints</a></li>
<li><a href="{% url 'unblock-request' %}">URL Unblock Request</a></li>
<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
   <li><a>User: {{user.username}}</a></li>
   <li><a href="{% url 'account-logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
</ul>
</div>
</div>
</nav>
<div class="container">
   <div class="text-center">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
         <legend class="text-center">Your Complaints</legend>
         {%endblock%}
         {% block content %}
         <center>
            <table class="table table-bordered">
               <thead class="">
                  <tr>
                     <th>Category</th>
                     <th>Room no.</th>
                     <th>Status</th>
                     <th>Urgency</th>
                     <th>Details</th>
                  </tr>
               </thead>
               {% for comp in complaints %}
               <tbody bgcolor="white">
                  <tr>
                     <td>{{ comp.category }}</td>
                     <td>{{ comp.bhavan }}, {{ comp.room_no }}</td>
                     <td>{{ comp.status }}</td>
                    {% if comp.urgency_reason != "" %}
                     <td>Yes</td>
                     {%else%}
                     <td>No</td>
					{%endif%}
					<td>
                        <button style="color:black;border-width:1px;" onclick="comp_fun({{ comp.pk }})"><i
                              class="fas fa-caret-down" id="{{ comp.pk }}c"></i></button>
                     </td>
                  </tr>
                  <div>
                     <tr style="display:none;" id="{{ comp.pk }}a">
                        <td style="background:white;">Details:</td>
                        <td style="background:white;" colspan="2"><textarea class="form-control" a="true" name="remark"
                              disabled rows="5" cols="2">{{ comp.remark }}</textarea><br>Complaint ID: {{ comp.id }}</td>

                        <td style="background:white;" colspan="1" rowspan="5">Staff's Remarks:<textarea
                              class="form-control" a="true" id="remarktouser" name="remark_to_user" disabled rows="5"
                              cols="2" placeholder="Staff's remarks">{{ comp.remark_to_user }}</textarea></td>
                        <td rowspan="5" style="background:white;">
                           {% if comp.status == comp.REGISTERED %}
                           <form method="post" action="{% url 'cancel-complaint' %}">
                              {% csrf_token %}
                              Cancel: <button type="submit" style="color:red;border-width:1px;"><i
                                    class="fas fa-ban"></i></button><br><br>
                              <input type="hidden" value="" name="remark_to_user" id="remark_cancel">

                              <script>document.getElementById('remark_cancel').value = document.getElementById('remarktouser').value</script>
                              <input type="hidden" value="{{ comp.pk }}" name="id">
                              <input type="hidden" value="CD" name="status">
                           </form>
                           {%else%}
                           -
                           {% endif %}

                        </td>
                     </tr>
                     <tr style="display:none;" id="{{ comp.pk }}b">
                        <td style="background:white;">Urgency Reason:</td>
                        <td style="background:white;" colspan="2"><input type="text" class="form-control" a="true"
                              value="{{ comp.reason }}" disabled rows="5" cols="2"></td>
                     </tr>
                     <tr style="display:none;" id="{{ comp.pk }}d">
                        <td style="background:white;">Registered Time:</td>
                        <td style="background:white;" colspan="2">{{ comp.uploaded_at }}</td>
                     </tr>
                     <tr style="display:none;" id="{{ comp.pk }}e">
                        <td style="background:white;">Availability:</td>
                        <td style="background:white;" colspan="2">{{ comp.avail_date }}, {{ comp.avail_start_time }} to
                           {{ comp.avail_end_time }}</td>
                     </tr>
                     <tr style="display:none;" id="{{ comp.pk }}f">
                        <td style="background:white;">Contact :</td>
                        <td style="background:white;" colspan="2">{{comp.contact_no}}, User: {{comp.user}}, Attachment:
                           {% if comp.image %}<a href="{{ comp.image.url }}">Clickhere</a>{%else%}-{%endif%}</td>
                     </tr>
                  </div>
               </tbody>
               {% endfor %}
            </table>
            <br>
            <legend class="text-center">Unblock Requests</legend>
            <table class="table table-striped table-bordered" style="">
               <thead class="">
                  <tr>
                     <th>URL</th>
                     <th>Status</th>
                     <th>Remarks to User</th>
                     <th>Details</th>
                  </tr>
               </thead>
               {% for req in unblocks %}
               <tr>
                  <td style="text-overflow:clip;overflow:auto;">{{ req.url }}</td>
                  <td>{{ req.status }}</td>
                  <td>{{ req.remark_to_user }}</td>
                  <td>
                     <button style="color:black;border-width:1px;" onclick="req_fun({{ req.pk }})"><i
                           class="fas fa-caret-down" id="{{ req.pk }}rc"></i></button>
                  </td>
               </tr>
               <div>
                  <tr style="display:none;" id="{{ req.pk }}ra">
                     <td style="background:#EEEEEE;">Details:</td>
                     <td style="background:#EEEEEE;" colspan="2"><textarea class="form-control" a="true" disabled
                           rows="5" cols="2">{{ req.reason }}</textarea></td>
                     <td rowspan="3" style="background:#EEEEEE;">
                        Staff's Remarks:<textarea class="form-control" disabled a="true" name="remark_to_user" rows="5"
                           placeholder="Staff's remarks">{{req.remark_to_user}}</textarea>
                        {% if req.status == req.REGISTERED %}
                        <form method="post" action="{% url 'cancel-unblock-request' %}">
                           {% csrf_token %}
                           <br>Cancel: <button type="submit" style="color:red;border-width:1px;"><i
                                 class="fas fa-ban"></i></button>
                           <input type="hidden" name="status" value="CD">
                           <input type="hidden" name="id" value="{{ req.pk }}">
                        </form>
                        {%else%}
                        -
                        {% endif %}
                     </td>
                  </tr>
                  <tr style="display:none;" id="{{ req.pk }}rb">
                     <td style="background:#EEEEEE;">Registered Time:</td>
                     <td style="background:#EEEEEE;" colspan="2">{{ req.request_time }}</td>
                  </tr>
                  <tr style="display:none;" id="{{ req.pk }}rd">
                     <td style="background:#EEEEEE;">User:</td>
                     <td style="background:#EEEEEE;" colspan="2">{{ user.username }}</td>

                  </tr>
               </div>
               {% endfor %}
            </table>
         </center>
      </div>
      <p><b>Status</b> : RD: Registered; CD: Cancelled; DN: Done; TU: Taken up;</p>

   </div>
   {% endblock %}
